@import "tailwindcss";


@theme {
  --color-primary: #2C3E50;
  --color-secondary: #C5A266;
  --color-secondary-lighter: #EFD38B;
  --color-contact: #65B400;

}

@layer utilities{

		.gradient-background-1 {
	background: linear-gradient(
		180deg,
		var(--color-secondary),
		var(--color-secondary-lighter)
	);
	}

	.gradient-background-2 {
	background: linear-gradient(
		30deg,
		var(--color-secondary-lighter),
		var(--color-secondary)
	);
	}

    .animate-in{
      animation-fill-mode: both;
    }

    .slide-in-from-top {
      animation-name: slideInFromTop;
    }

    .slide-in-from-bottom {
      animation-name: slideInFromBottom;
    }

    .duration-300{
      animation-duration: 300ms;
    }

    .duration-700{
      animation-duration: 700ms;

    }
}

@keyframes slideInFromBottom{
  from {
     opacity: 0;
     transform: translateY(4rem);
  }
  to{
    opacity: 1 translateY(0);
  }
}

@keyframes slideInFromTop{
  from {
     opacity: 0;
     transform: translateY(-3rem);
  }
  to{
    opacity: 1 translateY(0);
  }
}